* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
img {
    display: block;
    max-width: 100%;
}
.img-wrap {
    margin-bottom: 1em;
}
.img-wrap p {
    padding: .5em 0 0 .5em;
    line-height: 1.2;
}
.app {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin: auto;
    max-width: 1600px;
    width: 100%;
    outline: 1px solid green;
    white-space: nowrap;
    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat(100%);
    -ms-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
}

.corners {
	padding: 1em 2em;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}

.corners .img-wrap {
	width: 80%;
}

.corners .img-wrap:nth-child(1) {
	align-self:flex-start;
}

.corners .img-wrap:nth-child(2) {
	align-self:flex-end;
}

.corners,
.stacked {
	flex-direction: column;

}
.stacked {
	align-items: center;
}
@media (min-width: 415px) {

	.app {
			display: flex;
			flex-flow: row nowrap;
			height: 100%;
	}

	.page {
			display: inline-flex;
			flex-direction: row;
			flex: 1 0 100%;
	}

}

@media (min-width: 769px) {
    .page {
        flex: 1 0 50%;
    }
}
